// Put your base-styles in here

:root {
	--piece-color: @piece_color;
	--text-color: @text_color;
	--bg-color: @bg_color;
	--paper-color: @paper_color;
	--page-color: @page_color;
	--staff-color: @staff_color;

	@media (prefers-color-scheme: dark) {
		--piece-color: @piece_color_dark;
		--text-color: @text_color_dark;
		--bg-color: @bg_color_dark;
		--paper-color: @paper_color_dark;
		--page-color: @page_color_dark;
	}

	&[data-theme="light"] {
		--piece-color: @piece_color;
		--text-color: @text_color;
		--bg-color: @bg_color;
		--paper-color: @paper_color;
		--page-color: @page_color;
		--staff-color: @staff_color;
	}

	&[data-theme="dark"] {
		--piece-color: @piece_color_dark;
		--text-color: @text_color_dark;
		--bg-color: @bg_color_dark;
		--paper-color: @paper_color_dark;
		--page-color: @page_color_dark;
	}
}

body {
	.bodyFont();

	background: @page_color;
	color: @text_color;

//	&:not(:has(.components)) {
		color: var(--text-color);
		background: var(--page-color);
//	}
}

.components-nav a {
	color: inherit;
}

h1, h2 {
	.headerFont();

	text-align: center;
	margin-block: 0.7em;
}

