// Misc. variables
@color: {
	pi: #314159;
	black: #000;
	white: #fff;
}

@color_primary: @color[pi];
@black: @color[black];
@white: @color[white];

@measure: 75ch;

@piece_size: 100px;
@piece_color: #f5f4f0;
@text_color: #36505e;
@bg_color: #f0a846;
@paper_color: #f6f6f6;
@page_color: #fefefe;
@staff_color: #000;
