@font-face {
  font-family: 'Chriz Hand';
  src: url('fonts/chriztian-steinmeier-hand-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Dekko';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/dekko-v21-latin-regular.woff2') format('woff2');
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:where(html){--shadow-color:220 3% 15%;--shadow-strength:1%;--shadow-strength-3:calc(var(--shadow-strength) + 2%);--shadow-strength-4:calc(var(--shadow-strength) + 3%);--shadow-strength-5:calc(var(--shadow-strength) + 4%);--shadow-strength-6:calc(var(--shadow-strength) + 5%);--shadow-strength-7:calc(var(--shadow-strength) + 6%);--shadow-strength-8:calc(var(--shadow-strength) + 7%);--shadow-strength-10:calc(var(--shadow-strength) + 9%);--inner-shadow-highlight:inset 0 -.5px 0 0 #fff,inset 0 .5px 0 0 rgba(0,0,0,.067);--shadow-1:0 1px 2px -1px hsl(var(--shadow-color)/var(--shadow-strength-10));--shadow-2:0 3px 5px -2px hsl(var(--shadow-color)/var(--shadow-strength-4)),0 7px 14px -5px hsl(var(--shadow-color)/var(--shadow-strength-6));--shadow-3:0 -1px 3px 0 hsl(var(--shadow-color)/var(--shadow-strength-3)),0 1px 2px -5px hsl(var(--shadow-color)/var(--shadow-strength-3)),0 2px 5px -5px hsl(var(--shadow-color)/var(--shadow-strength-5)),0 4px 12px -5px hsl(var(--shadow-color)/var(--shadow-strength-6)),0 12px 15px -5px hsl(var(--shadow-color)/var(--shadow-strength-8));--shadow-4:0 -2px 5px 0 hsl(var(--shadow-color)/var(--shadow-strength-3)),0 1px 1px -2px hsl(var(--shadow-color)/var(--shadow-strength-4)),0 2px 2px -2px hsl(var(--shadow-color)/var(--shadow-strength-4)),0 5px 5px -2px hsl(var(--shadow-color)/var(--shadow-strength-5)),0 9px 9px -2px hsl(var(--shadow-color)/var(--shadow-strength-6)),0 16px 16px -2px hsl(var(--shadow-color)/var(--shadow-strength-7));--shadow-5:0 -1px 2px 0 hsl(var(--shadow-color)/var(--shadow-strength-3)),0 2px 1px -2px hsl(var(--shadow-color)/var(--shadow-strength-4)),0 5px 5px -2px hsl(var(--shadow-color)/var(--shadow-strength-4)),0 10px 10px -2px hsl(var(--shadow-color)/var(--shadow-strength-5)),0 20px 20px -2px hsl(var(--shadow-color)/var(--shadow-strength-6)),0 40px 40px -2px hsl(var(--shadow-color)/var(--shadow-strength-8));--shadow-6:0 -1px 2px 0 hsl(var(--shadow-color)/var(--shadow-strength-3)),0 3px 2px -2px hsl(var(--shadow-color)/var(--shadow-strength-4)),0 7px 5px -2px hsl(var(--shadow-color)/var(--shadow-strength-4)),0 12px 10px -2px hsl(var(--shadow-color)/var(--shadow-strength-5)),0 22px 18px -2px hsl(var(--shadow-color)/var(--shadow-strength-6)),0 41px 33px -2px hsl(var(--shadow-color)/var(--shadow-strength-7)),0 100px 80px -2px hsl(var(--shadow-color)/var(--shadow-strength-8));--inner-shadow-0:inset 0 0 0 1px hsl(var(--shadow-color)/var(--shadow-strength-10));--inner-shadow-1:inset 0 1px 2px 0 hsl(var(--shadow-color)/var(--shadow-strength-10)),var(--inner-shadow-highlight);--inner-shadow-2:inset 0 1px 4px 0 hsl(var(--shadow-color)/var(--shadow-strength-10)),var(--inner-shadow-highlight);--inner-shadow-3:inset 0 2px 8px 0 hsl(var(--shadow-color)/var(--shadow-strength-10)),var(--inner-shadow-highlight);--inner-shadow-4:inset 0 2px 14px 0 hsl(var(--shadow-color)/var(--shadow-strength-10)),var(--inner-shadow-highlight)}@media (prefers-color-scheme:dark){:where(html){--shadow-color:220 40% 2%;--shadow-strength:25%;--inner-shadow-highlight:inset 0 -.5px 0 0 hsla(0,0%,100%,.067),inset 0 .5px 0 0 rgba(0,0,0,.467)}}

img {
  height: auto;
}
a[class] {
  color: inherit;
}
:root {
  --piece-color: #f5f4f0;
  --text-color: #36505e;
  --bg-color: #f0a846;
  --paper-color: #f6f6f6;
  --page-color: #fefefe;
  --staff-color: #000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --piece-color: #4c4c4c;
    --text-color: #80a4b8;
    --bg-color: #f0a846;
    --paper-color: #434343;
    --page-color: #222;
  }
}
:root[data-theme="light"] {
  --piece-color: #f5f4f0;
  --text-color: #36505e;
  --bg-color: #f0a846;
  --paper-color: #f6f6f6;
  --page-color: #fefefe;
  --staff-color: #000;
}
:root[data-theme="dark"] {
  --piece-color: #4c4c4c;
  --text-color: #80a4b8;
  --bg-color: #f0a846;
  --paper-color: #434343;
  --page-color: #222;
}
body {
  font-family: Helvetica, sans-serif;
  background: #fefefe;
  color: #36505e;
  accent-color: #36505e;
  color: var(--text-color);
  background: var(--page-color);
}
.components-nav a {
  color: inherit;
}
h1,
h2 {
  font-family: "Chriz Hand", Helvetica, sans-serif;
  text-align: center;
  margin-block: 0.7em;
}
.themepicker {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  margin-block: 1em;
  color: inherit;
}
.themepicker theme-picker {
  transition: 300ms ease-in-out;
  padding-block: 2px;
  cursor: pointer;
}
.themepicker theme-picker::before {
  display: inline-block;
}
.themepicker theme-picker[current="light"]::before {
  content: '🌻' ' ' attr(current);
}
.themepicker theme-picker[current="dark"]::before {
  content: '🌙' ' ' attr(current);
}
.themepicker theme-picker[current="auto"]::before {
  content: '💻' ' ' attr(current);
}
.themepicker theme-picker:hover,
.themepicker theme-picker:focus {
  color: #000;
}
.placeholder {
  box-sizing: border-box;
  background: var(--bg-color, rgba(0, 100, 200, 0.3));
  min-height: 5em;
  border: 2px dashed rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}
.placeholder h3 {
  margin: auto;
  font-size: 1em;
  font-weight: normal;
}
.placeholder h3::before {
  content: "[ ";
}
.placeholder h3::after {
  content: " ]";
}
.text > * + * {
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
}
.text.contain p,
.text.contain ul,
.text.contain ol,
.text.contain h2,
.text.contain h3,
.text.contain h4 {
  max-inline-size: 75ch;
}
.text.start {
  text-align: start;
}
.text.center {
  text-align: center;
}
.text.end {
  text-align: end;
}
.text blockquote {
  -webkit-padding-start: 3rem;
          padding-inline-start: 3rem;
  -webkit-border-start: 0.5em solid;
          border-inline-start: 0.5em solid;
  font-style: italic;
}
.piece {
  font-family: Dekko, Helvetica, sans-serif;
  font-size: 1.625rem;
  font-weight: normal;
  letter-spacing: -0.05em;
  background: #f5f4f0;
  background: var(--piece-color);
  border: 2px solid rgba(0, 0, 0, 0.8);
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-4);
  --rotate: calc(var(--rotation, 0) * 1deg);
  transform: rotate(var(--rotate));
}
.piece data {
  line-height: 1;
}
.piece sup {
  display: contents;
}
.piece .root {
  font-size: 2.1em;
}
.piece .root[value="A"] {
  -webkit-margin-end: -0.1em;
          margin-inline-end: -0.1em;
}
.piece .root[value="A"] + .acc {
  -webkit-margin-end: -0.2em;
          margin-inline-end: -0.2em;
}
.piece .acc {
  align-self: flex-start;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
}
.piece .acc[value="b"] {
  margin-inline: -4px;
}
.piece .acc[value="#"] {
  margin-inline: -2px;
}
.piece .triad {
  font-size: 1.28em;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
}
.piece .triad[value="dim"] {
  font-size: 1em;
}
.piece .triad[value*="add9"],
.piece .triad[value*="sus"] {
  font-size: 0.9em;
}
.piece .triad[value="+"] {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  font-size: 1.8em;
}
.piece .root + .triad {
  -webkit-margin-start: 0.1em;
          margin-inline-start: 0.1em;
}
.piece sup + .triad {
  -webkit-margin-start: -0.2em;
          margin-inline-start: -0.2em;
}
.paper {
  container: paper / inline-size;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 2em solid;
  background: linear-gradient(0deg, #000 0, #000 1px, transparent 0, transparent 8px, #000 0, #000 9px, transparent 0, transparent 16px, #000 0, #000 17px, transparent 0, transparent 24px, #000 0, #000 25px, transparent 0, transparent 32px, #000 0, #000 33px, transparent 0), #f6f6f6;
  background: linear-gradient(0deg, var(--staff-color) 0, var(--staff-color) 1px, transparent 0, transparent 8px, var(--staff-color) 0, var(--staff-color) 9px, transparent 0, transparent 16px, var(--staff-color) 0, var(--staff-color) 17px, transparent 0, transparent 24px, var(--staff-color) 0, var(--staff-color) 25px, transparent 0, transparent 32px, var(--staff-color) 0, var(--staff-color) 33px, transparent 0), var(--paper-color);
  background-size: 100% 95px;
  background-position: center -5px;
  border-color: var(--paper-color);
  max-inline-size: 40em;
  min-block-size: 20em;
  margin-inline: auto;
  padding-block: 2em;
  padding-inline: 1em;
}
.paper header {
  transform: translate(-1em, -2em);
}
.paper hr {
  inline-size: 50%;
  block-size: 1px;
  border: none;
  background: var(--staff-color);
}
.sheet {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 40px 20px;
  padding: 0;
  margin: 0;
}
@container paper (inline-size < 440px) {
  .sheet {
    gap: 20px 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.formula {
  font-family: Dekko, Helvetica, sans-serif;
  font-size: 1.625rem;
}
.formula .acc {
  font-size: 0.7em;
}
.sample-panel {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.settings {
  display: inline-block;
  padding: 10px;
  border: none;
  background: #ccc8;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border: 2px solid;
  border-radius: 2px;
  color: #000;
  box-shadow: var(--shadow-3);
}
.settings legend {
  margin: 0;
  display: none;
}
.settings > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.settings > div > * {
  display: flex;
  align-items: center;
  gap: 10px;
}
[data-layout] {
  margin-right: auto;
  margin-left: auto;
  max-width: 74em;
}
